@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với tiketbox </h1>
    <p><a href="https://ticketbox.vn/">Mọi thắc mắc xin hãy tham khảo </a>.</p>
    <h2><a class="btn btn-primary" href="/swagger">Explore APIs</a></h2>
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Event")">Xem danh sách sự kiện</a></h2>
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Venue")">Xem danh sách địa điểm</a></h2>
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Ticket")">Xem danh sách vé </a></h2>
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Performer")">Xem danh sách nghệ sĩ biểu diễn</a></h2> 
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Order")">Xem danh sách đơn hàng</a></h2> 
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "EventPerformer")">Xem danh sách nghệ sĩ sự kiện</a></h2> 
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Customer")">Xem danh sách khách hàng</a></h2> 
    <h2><a class="btn btn-secondary" href="@Url.Action("Index", "Category")">Xem danh sách thể loại sự kiện</a></h2>
</div>
