@model Demo3.ViewModels.PaginatedList<Demo3.Data.Entities.Event>

@{
    ViewData["Title"] = "Events";
}

<h2>Events</h2>

<form asp-controller="Event" asp-action="Index" method="get">
    <p>
        Search by title or category: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Venue.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Category.Name)
            </th>
            <th>
                Event Summary
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var eventItem in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => eventItem.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => eventItem.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => eventItem.Venue.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => eventItem.Category.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => eventItem.EventSummary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@eventItem.EventId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@eventItem.EventId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@eventItem.EventId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default">
            Back
        </a>
    }
    @Html.Raw($"Page {Model.PageIndex} of {Model.TotalPages}")
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)"
           asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default">
            Next
        </a>
    }
</div>
